 < – – Aljon Indon –  – >

thead th { text-align: left aligned}
thead th  { background-color: #013220; color: white;}
tbody th { text-align: left aligned}
tbody tr  { text-align: center }
        table {
            table-layout: auto;
            width: 200px;
       }
    th, td {
        border: 1px solid black;
    }

    tr:nth-child(odd) {
        background-color: #008000;
    }

    tr:nth-child(even) {
        background-color: #90EE90;

    }
