h1 {
color: red;
}

h1 {
color: green;
}

p {
  color: red;
}

body {
  background-color:gray;
}
nav { display : flex; 
Flex-wrap: flex;
text-align: center;
}
ul { 
display : flex; 
Flex-wrap: flex;
text-align: center;
}


li {
  background-color: white;
  text-align: center;
  justify-content: space-around;
  flex: 1;
}
