h1 {
color: red;
}

h1 {
color: green;
}

p {
  color: red;
}

body {
  background-color:gray;
}
nav { 
display : flex; 
Flex-wrap: flex;
flex: 1; }

ul {
  flex: 1;
  text-align: center;
  
}
li {
  background-color: white;
  text-align: center;
}
