h1 {
color: red;
}

h1 {
color: green;
}

p {
  color: red;
}

body {
  background-color:gray;
}
ul { 
display : flex; 
Flex-wrap: flex;
text-align: center;
flex: 1; }


ol {
  background-color: white;
  text-align: center;
}
